### 逐块读取文本文件

In [1]:
# 要逐块读取文件，可以指定chunsize（行数）
import pandas as pd

In [ ]:
chunker = pd.read_csv('test.csv',chunksize = 1000)

tot = pd.Series([])
for piece in chunker():
    tot = tot.add(piece['key'].value_counts(),fill_value = 0)
    
tot = tot.sort_values(ascending = False)

In [3]:
# get_chunk()的方法可以返回任意大小的数据片段
chunker = pd.read_csv('test.csv',chunksize = 1000)
chunker.get_chunk(10)

#### 可以只读取一部分列，并按照选择的顺序读取

### Json Data的格式

In [13]:
import json
obj = """ 
{"name": "Wes", 
 "places_lived": ["United States", "Spain", "Germany"], 
 "pet": null, 
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, 
                           {"name": "Katie", "age": 38, 
                            "pets": ["Sixes", "Stache", "Cisco"]}] 
} 
"""
# json.loads :把json string变成Python格式
# json.dumps :把Python object转换成Json
asjson = json.loads(obj)
siblings = pd.DataFrame(asjson['siblings'])
siblings

   age   name                    pets
0   30  Scott            [Zeus, Zuko]
1   38  Katie  [Sixes, Stache, Cisco]